{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    .custom-img {
     background-image: url("{% static 'images/backgroud.jpg' %}");
    }


</style>


<header class="flex items-center justify-center h-screen mb-12 bg-fixed bg-center bg-cover custom-img"">
<div class="p-5 text-2xl text-white bg-purple-300 bg-opacity-50 rounded-xl font-mono">
    Sheikh Jassong Touray Foundation
</div>
</header>

<div class="bg-green-600 p-4 max-w-full">
    <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/jennoi-mosque.jpeg' %}">
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/jiffine-mosque.jpeg' %}">
        </div>
    </div>

    <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/manduar-mosque.jpeg' %}">
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/mosque_1.jpeg' %}">
        </div>
    </div>

    <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/sambang-mosque.jpeg' %}">
        </div>
        <div class="md:flex-col w-1/2 mx-2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/santanto-bubutabanding-mosque.jpeg' %}">
        </div>
    </div>

    <div class="md:flex md:flex-row mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/soma-GPTC-Mosque.jpeg' %}">
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/soma-mosque.jpeg' %}">
        </div>
    </div>

    <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/katamina-mosque.jpeg' %}">
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/Kutu-Mosque.jpeg' %}">
            <h3 class="text-white text-center text-3xl font-bold">Kutu Mosque Cassamance</h3>
        </div>
    </div>

        <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/Bribang-Mosque.jpeg' %}">
            <h3 class="text-white text-center text-3xl font-bold">Bribang Mosque Cassamance</h3>
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/buiba-mosque.jpeg' %}">
        </div>
    </div>

    <div class="md:flex md:flex-row mb-6 mx-auto">
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/Faound-Mosque.jpeg' %}">
            <h3 class="text-white text-center text-3xl font-bold">Bribang Mosque Cassamance</h3>
        </div>
        <div class="md:flex-col w-1/2 mx-auto md:mx-2">
            <img alt="img_01" src="{% static 'images/mosque/jataba-mosque.jpeg' %}">
        </div>
    </div>
</div>

{% endblock %}